---
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import BlogPost from "../components/BlogPost.astro";

const { content } = Astro.props;
const {
  title,
  description,
  publishDate,
  author,
  heroImage,
  permalink,
  alt,
  social,
} = content;
---

<html lang={content.lang || "en"}>
  <head>
    <BaseHead {title} {description} {permalink} {social} />
    <style>
      .content {
        margin-top: 1rem;
        margin-bottom: 8rem;
      }
    </style>
  </head>

  <body>
    <BlogHeader />
    <div class="wrapper-post content">
      <BlogPost {title} {author} {heroImage} {publishDate} {alt}>
        <slot />
      </BlogPost>
    </div>
  </body>
</html>
